# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env*.local

# Vercel
.vercel
!.vercel/project.json
!.vercel/README.txt

# Debug logs
npm-debug.log*
yarn-debug.log*
npm-error.log*
package-lock.json*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
src/lib/QuestionLoader/test/mock/

# Supabase CLI temp files
supabase/.temp/
